<div id="navigation" style="cursor: pointer">
    <span data-goto="loginPage">Log in/Log out | </span>
    <span data-goto="findPage">Find Game | </span>
    <span data-goto="chooseDeckPage">Choose Deck | </span>
    <span data-goto="playPage">Play | </span>
</div>
<div id="vs">
    <span id="p1"></span>
    <span> Vs </span>
    <span id="p2"></span>
</div>
<hr>
<div id="loginPage" class="showPage">
    <% if @user.logged_in %>
      <button id="logout">Log out</button>
    <% else %>
      <button id="login">Log in</button>
    <% end %>
</div>
<div id="chooseDeckPage" class="hidePage">
    <div>
        <span id="cardsChosen">0</span><span>/</span><span id="maxCards">20</span>
        <button id="chooseDeck">Choose these cards</button>
    </div>
</div>
<div id="findPage" class="hidePage">Looking for a game...</div>
<div id="playPage" class="hidePage">
<button id="dealCard">Deal Card</button>
<button id="endTurn">End Turn</button>
    <div id="P1container">
        <div class="closedCardsContainer" id="closedCardsContainerP1">
            <div class="closedCardSlot"></div>
            <div class="closedCardSlot"></div>
            <div class="closedCardSlot"></div>
            <div class="closedCardSlot"></div>
            <div class="closedCardSlot"></div>
        </div>
        <div class="activeCardsContainer" id="activeCardsContainerP1">
            <div class="activeCardSlot"></div>
            <div class="activeCardSlot"></div>
            <div class="activeCardSlot"></div>
        </div>
    </div>
    <hr></hr>
    <div id="P2container">
        <div class="activeCardsContainer" id="activeCardsContainerP2">
            <div class="activeCardSlot"></div>
            <div class="activeCardSlot"></div>
            <div class="activeCardSlot"></div>
        </div>
        <div class="closedCardsContainer" id="closedCardsContainerP2">
            <div class="closedCardSlot"></div>
            <div class="closedCardSlot"></div>
            <div class="closedCardSlot"></div>
            <div class="closedCardSlot"></div>
            <div class="closedCardSlot"></div>
        </div>
        
    </div>
</div>