<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <link rel="stylesheet" type="text/css" href="stylesheets/playstyle.css">
  <link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="47361773904-g6ig497kq737ggmdt91a2331614s8pk8.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <title></title>
</head>
<body>
  <%= yield %>
</body>
<script src="javascript/initgame.js"></script>
</html>
